<p id="notice"><%= notice %></p>

<h1>Listing Single Apps</h1>

<%= render 'list', single_apps: @single_apps %>

<br>

<%= link_to 'New Single app', new_list_single_app_path %>
<%= link_to 'Home', root_path %>